Django
git+https://github.com/erikvw/django-crypto-fields@develop#egg=django_crypto_fields
git+https://github.com/erikvw/django-revision@develop#egg=django-revision
git+https://github.com/botswana-harvard/edc-base@develop#egg=edc_base
git+https://github.com/botswana-harvard/edc-content-type-map@develop#egg=edc_content_type_map
git+https://github.com/botswana-harvard/edc-visit-schedule@develop#egg=edc-visit-schedule
git+https://github.com/botswana-harvard/edc-appointment@develop#egg=edc-appointment
git+https://github.com/botswana-harvard/edc-constants@develop#egg=edc-constants
git+https://github.com/botswana-harvard/edc-visit-tracking@develop#egg=edc-visit-tracking
git+https://github.com/botswana-harvard/edc-rule-groups@develop#egg=edc-rule-groups
git+https://github.com/botswana-harvard/edc-registration@develop#egg=edc-registration
